fastapi==0.109.2
langchain==0.1.6
langchain_community==0.0.19
pydantic==2.6.1
pydantic_settings==2.1.0
pyzotero==1.5.18
qdrant_client==1.7.3
starlette==0.37.1
torch==2.2.0+cu121
transformers==4.37.2
typing_extensions==4.9.0
